.container {
    width: 100%;
    // width: 1644px;
    padding-left: 138px;
    padding-right: 138px;
    
    margin: 0 auto;
    outline: 2px solid tomato;

    // @media screen and (min-width:480px) {
    //   max-width: 480px;
    // }
    // @media screen and (min-width:768px) {
    //   max-width: 768px;
    // }
    @media screen and (min-width:1920px) {
      max-width: 1920px;
    }

  }
  