.blog-container {
    padding-bottom: 105px;
}

.blog-list {
    display: flex;
    gap: 60px;
}

.blog-list-item {
    flex-basis: calc((100% - 60px) / 2);
}

.blog-wrapper-picture {
    position: relative;
}

.blog-list-link {
    display: block;
    max-width: 203px;;
    padding: 7px 53px;
    background-color:  #5E6600;
    color: #ffffff;
    font-family: 'Rufina', serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(48 / 26);

    position: absolute;
    top: 12px;
    right: 12px;
}

.blog-wrapper-text {
    padding-top: 68px;
    padding-left: 72px;
    padding-bottom: 82px;
    padding-right: 75px;
}

.blog-group-wrapper {
    display: flex;
    gap: 32px;
}

.blog-group {
    
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: #5E6600;
    position: relative;
}
.blog-group:not(:last-child):after {
    content: '';
    background-color: #5E6600;
    display: block;
 
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    right: -16px;
    top: 50%;
}

.blog-list-uptitle {
    font-family: 'Rufina', serif; 
    font-weight: 700;
    font-size: 48px;
    line-height: calc(64 / 48);
    color: var(--primary-title-color);
    margin-top: 48px;
    margin-bottom: 36px;
   
    display: block;
    position: relative;
    
}

.blog-list-uptitle::after {
    content: '';
    display: flex;
    
    border-bottom: 4px dashed  #000000;
    
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
}


.blog-list-text {
    font-weight: 700;
    font-size: 22px;
    line-height: calc(31 / 22);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 46px;
}

.blog-list-button {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 24px;
    line-height: calc(34 / 24);
    letter-spacing: 0.02em;

}
.blog-arrow {
    fill: #5E6600;
}