.review {
   
}

.review-container {
    padding-top: 118px;
    padding-bottom: 156px; 
    padding-left: 246px;
}

.review-text {
    
    width: 1262px;
    font-family: 'Rufina', serif;
    font-weight: 700;
    font-size: 48px;
    line-height: calc(64 / 48);
    color: #000000;
}