.review {
   
}

.review-container {
    padding-top: 118px;
    padding-bottom: 156px; 
    padding-left: 246px;
}

.review-text {
    
    width: 1262px;
    font-family: 'Rufina', serif;
    font-weight: 700;
    font-size: 48px;
    line-height: calc(64 / 48);
    color: #000000;
}
.review-subtitle {
   font-size: 32px;
   line-height: calc(48 / 32);
}

.review-subtitle-text{
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: #4d4d4d;

}